*{margin:0;padding:0
body{background:#fff;color:#000;font-size:16px
body,pre strong{font-family:"PT Sans",sans-serif
code{font-family:"PT Mono",monospace;font-size:14px
a{outline:none
.centered{width:899px;max-width:96%;margin:0 auto;position:relative
.about{padding:20px 164px 5px 0;line-height:1.3
.about p{margin-bottom:5px
.easings{margin:0 -30px 0 -10px;position:relative
.easings ul{display:inline-block;margin-right:20px
.easings .part{position:relative
.easings .part ul{-webkit-transition:opacity 400ms;transition:opacity 400ms
.easings .part-title{position:absolute;top:-12px;right:35px;width:40px;color:#999;font-size:14px;font-weight:400;text-align:right
.easings.hightlight-part .part ul{opacity:.15
.easings.hightlight-part .part:hover ul{opacity:1
.easing{list-style:none;display:inline-block;margin:3px 5px;padding:5px;position:relative
.easing.linear{position:absolute;top:11px;right:25px;z-index:2
.easing.linear .easing-title{margin-bottom:-35px
.easing.easeOutElastic .easing-title{box-shadow:#fff 0 26px 8px -8px inset
.easing .button{margin:-5px;padding:5px
.easing .easing-title{text-align:center;font-size:15px;font-weight:400;margin-bottom:-25px;position:relative;z-index:2
.easing .graph{text-decoration:none;position:relative
.easing.is-clickable:hover,.easing.is-clickable:active{background:#f0f0f0;box-shadow:inset 0 0 5px rgba(0,0,0,.5)
.easing.is-clickable:hover .button{transition:transform 200ms,box-shadow 200ms
.easing.is-clickable:hover .button,.easing.is-clickable:active .button{background:#fff;-webkit-transition:-webkit-transform 200ms,box-shadow 200ms
.easing.is-clickable:active .button{box-shadow:0 0 2px rgba(0,0,0,.3);-webkit-transform:scale(.9);-ms-transform:scale(.9);transform:scale(.9);-webkit-transition:none;transition:none
.graph svg{width:124px;height:140px;margin-bottom:-30px
.graph svg line{stroke:#bbb;stroke-width:1px
.graph svg path{fill:transparent;fill:rgba(255,255,255,0);stroke:#000;stroke-width:2px
.graph svg text{font-size:12px;fill:#bbb
.graph{position:relative;display:inline-block
.graph .example{position:absolute;width:21px;height:12px;overflow:hidden;z-index:10;background:#e40000;background:-webkit-linear-gradient(#fe0000,#d00000);background:linear-gradient(#fe0000,#d00000)
.graph .example .top,.graph .example .bottom{-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);background:#fff;position:absolute;left:-11px;width:15px;height:15px
.graph .example .top{top:-8px
.graph .example .bottom{top:5px
.graph .dot{position:absolute;background:#ddd;width:2px;height:2px;border-radius:2px
.easing .graph .example,.easing .graph .dot{opacity:0;-webkit-transition:opacity 200ms;transition:opacity 200ms
.easing .graph .example{top:94px;left:122px
.easing .graph .dot{top:99px;left:1px
.easing:hover .graph .example,.easing:hover .graph .dot{opacity:1
.easing:hover.is-tapped .example,.easing:hover.is-tapped .dot{opacity:0
.easing .link{-webkit-tap-highlight-color:rgba(255,255,255,0)
.howtos h2{font-weight:400;padding:17px 0 5px
.howtos h2,.howtos h3{font-size:25px
.easing-description .back{float:right;margin-top:19px;color:red;text-decoration:none
.easing-description .back .text{display:inline-block;margin-left:5px;border-bottom:1px dotted
.easing-description .back:hover .text{border-bottom-style:solid
.easing-description .back:active{-webkit-transform:translateY(2px);-ms-transform:translateY(2px);transform:translateY(2px)
.easing-description h2{font-weight:400;font-size:25px;margin-top:15px
.easing-description h3{font-size:22px
.easing-description .graph{margin:-20px 0 -10px
.easing-description .graph .example{top:124px;left:161.2px
.easing-description .graph .dot{width:4px;height:4px;border-radius:2px;top:128px;left:2px
.easing-description .graph .example,.easing-description .graph .dot{opacity:0;-webkit-transition:opacity 200ms;transition:opacity 200ms
.easing-description .graph svg{width:161.2px;height:182px
.easing-description.exampled .graph .example,.easing-description.exampled .graph .dot{opacity:1
.howtos p,.easing-description p{padding-bottom:5px
.howtos p a,.easing-description p a{display:inline-block;color:#000;text-decoration:none;border-bottom:1px solid #bbb;line-height:1;-webkit-transition:border-bottom-color 150ms;transition:border-bottom-color 150ms
.howtos p a:hover,.easing-description p a:hover{border-bottom-color:#000
.howtos pre,.easing-description pre{padding:5px 0 10px;font-size:13px
.howtos pre strong,.easing-description pre strong{color:red;font-size:14px;font-weight:400;white-space:nowrap
.howtos h3,.easing-description h3{font-weight:400;padding:7px 0 5px
.page-crop{overflow:hidden;margin:-10px 0 0 -10px;padding:10px 0 0 10px
.easing-description{position:absolute;top:0;left:105%;width:100%;display:none
.page-slider{position:relative
.page-animation .page-slider,.page-animation .easing.linear{-webkit-transition:all 600ms cubic-bezier(.77,0,.175,1);transition:all 600ms cubic-bezier(.77,0,.175,1)
.easing-page .page-slider{-webkit-transform:translateX(-105%);-ms-transform:translateX(-105%);transform:translateX(-105%)
.easing-page .easing.linear{-webkit-transform:translateY(-105px);-ms-transform:translateY(-105px);transform:translateY(-105px)
.open-source{position:absolute;width:80px;height:80px;top:0;right:0;text-decoration:none
.open-source .crop{display:block;position:absolute;top:0;left:-10px;width:90px;height:90px;overflow:hidden;-webkit-tap-highlight-color:rgba(255,255,255,0)
.open-source:active .background{background:#ddd
.open-source .background{position:absolute;top:-65px;left:32px
.open-source .background,.open-source .corner{width:120px;height:120px;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg)
.open-source .background{background:#e8e8e8;box-shadow:inset 0 -7px 7px -7px rgba(0,0,0,.5)
.open-source .source{position:absolute;color:#000;text-shadow:#fff 0 1px 0;left:40px;line-height:1.1
.open-source .source code{font-size:10px
.open-source .source-crop{width:120px;height:120px;background:#fff;top:22px;left:-50px
.open-source .source-crop,.open-source .octocat{position:absolute;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg)
.open-source .octocat{width:33px;height:19px;background-size:100% 100%;top:24px;left:43px;box-shadow:inset 0 -5px 5px -5px rgba(0,0,0,.4)
.open-source .corner{position:absolute;overflow:hidden;left:21px;top:-66px
.open-source .title{position:absolute;top:82px;left:23px;width:82px;height:80px;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);background:#fff;box-shadow:0 0 3px rgba(0,0,0,.5)
.open-source .border{bottom:0
.open-source .border,.open-source .text{position:absolute;width:100%
.open-source .border{border-top:1px dashed #999;opacity:1
.open-source .text{bottom:4px;text-align:center;font-size:12px;color:#666;padding-left:5px;opacity:1
.open-source .rotator{position:absolute;width:80px;height:80px;top:0;left:10px;z-index:3
.open-source.show .rotator{left:12px;top:-2px
.open-source .translate{position:absolute;right:0;top:90px;text-align:center;font-size:13px;opacity:0;padding:0 3px;background:#fff;box-shadow:0 0 6px #fff;z-index:3;-webkit-transition:opacity 400ms;transition:opacity 400ms
.open-source .translate a{color:#000;text-decoration:none
.open-source.show .text,.open-source.show .border{opacity:0
.open-source.show .translate{opacity:1
.open-source.tappable .translate a{text-decoration:underline
.transform-3d .open-source .rotator{-webkit-transition:all 600ms cubic-bezier(.455,.03,.515,.955);transition:all 600ms cubic-bezier(.455,.03,.515,.955)
.transform-3d .open-source .shadow{position:absolute;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,.1);opacity:0
.transform-3d .open-source .text,.transform-3d .open-source .border{-webkit-transition-property:opacity;transition-property:opacity;-webkit-transition-delay:250ms;transition-delay:250ms
.transform-3d .open-source .translate{-webkit-transition-delay:0;transition-delay:0
.transform-3d .open-source.show .translate{-webkit-transition-delay:400ms;transition-delay:400ms
.transform-3d .open-source.show .text,.transform-3d .open-source.show .border{-webkit-transition-delay:200ms;transition-delay:200ms
.transform-3d .open-source.show .rotator{-webkit-transform:rotate3d(1,1,0,180deg);transform:rotate3d(1,1,0,180deg)
.transform-2d .open-source.show .text,.transform-2d .open-source.show .border{display:none
.transform-2d .open-source.show .rotator{-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg)
html{position:relative;min-height:100%
body{margin-bottom:50px
footer{position:absolute;left:0;bottom:0;width:100%;text-align:right;padding-top:10px;height:40px
footer a{line-height:40px;color:#888
footer a:hover{text-decoration:none
footer .author{float:left;padding-left:27px;font-size:13px;position:relative;-webkit-transition:color 400ms;transition:color 400ms
footer .author:hover{text-decoration:none;color:#000
footer .author:hover .hover{top:0
footer .mask{position:absolute;top:9px;left:0;overflow:hidden;background-color:#888
footer .hover{position:absolute;background:#000;width:100%;height:100%;top:-100%;-webkit-transition:top 400ms cubic-bezier(.77,0,.175,1);transition:top 400ms cubic-bezier(.77,0,.175,1)
footer .image{width:20px;height:22px;background-size:100% 100%;position:relative;z-index:2
footer .star{display:none;opacity:0
footer .star.is-enable{display:block;float:left;margin:9px 0 0 30px
footer .star.is-show{opacity:1;-webkit-transition:opacity 400ms;transition:opacity 400ms
footer li{font-size:12px;font-family:"Trebuchet MS",sans-serif;list-style:none;display:inline-block;padding-left:10px
footer select{position:relative;top:9px
@media (min-width:1150px){.open-source.user-can-translate .translate{-webkit-transition-delay:0;transition-delay:0;opacity:.5
.open-source.user-can-translate.show .translate{opacity:1

@media all and (max-height:768px){.about{padding-top:15px
.easing.linear{top:6px

@media all and (max-width:899px){.easings{text-align:center
.easings .part-title{position:static;top:auto;left:auto;width:auto;text-align:center;font-size:12px;margin:-3px 0 -1px

@media all and (max-width:600px){.centered{width:auto;max-width:100%;padding:0 10px
.about{padding-top:10px
.easing{margin:3px 0
.easing .easing-title{font-size:13px
.easing .graph .example,.easing .graph .dot{display:none
pre{white-space:pre-wrap
.open-source{display:none
footer .author{font-size:12px

@media all and (max-width:481px){.about{padding:10px 0 5px
.easing.linear{display:none
.easings{margin:0
.easings ul{margin-right:0
.easings .easing{left:-2px
.howtos{padding:0 10px
.graph svg{width:105.4px;height:119px
.howtos h2,.howtos h3{font-size:23px
.page-crop{margin:0 -10px;padding:0
.easing-description{margin-top:-10px;padding:0 10px;box-sizing:border-box
.easing-description .back{font-size:14px
.easing-description h2{font-size:23px
.easing-description h3{font-size:20px

@media all and (max-width:430px){footer .star.is-show{display:none

@media all and (max-width:332px){.graph svg{width:93px;height:105px


