#space-navigation ul.app-nav li:nth-child(12n+2).active {
  box-shadow: inset 2px 2px 2px 0 #705727, inset -2px -2px 7px #785515;
}
#space-navigation ul.app-nav li:nth-child(12n+2):focus,
#space-navigation ul.app-nav li:nth-child(12n+2):hover {
  border: 1px solid #966100;  transition: border 250ms;
}
#space-navigation ul.app-nav li:nth-child(12n+2) a {
  color: #c98300;
}
#space-navigation ul.app-nav li:nth-child(12n+2).active .title {
  color: #c98300;
}
#space-navigation ul.app-nav li:nth-child(12n+2) .title,
#space-navigation ul.app-nav li:nth-child(12n+2) .title {
  color: #c98300;  transition: color 1s;
}
#space-navigation ul.app-nav li:nth-child(12n+2):focus .title,
#space-navigation ul.app-nav li:nth-child(12n+2):hover .title {
  color: #c98300;  transition: color 250ms;
}
#space-navigation ul.app-nav li:nth-child(12n+2) .icon {
  -webkit-filter: invert(1) sepia(1) saturate(10) hue-rotate(0deg);
}
#space-navigation ul.app-nav li:nth-child(12n+3).active {
  box-shadow: inset 2px 2px 2px 0 #566118, inset -2px -2px 7px #546300;
}
#space-navigation ul.app-nav li:nth-child(12n+3):focus,
#space-navigation ul.app-nav li:nth-child(12n+3):hover {
  border: 1px solid #7f9600;  transition: border 250ms;
}
#space-navigation ul.app-nav li:nth-child(12n+3) a {
  color: #849b00;
}
#space-navigation ul.app-nav li:nth-child(12n+3).active .title {
  color: #849b00;
}
#space-navigation ul.app-nav li:nth-child(12n+3) .title,
#space-navigation ul.app-nav li:nth-child(12n+3) .title {
  color: #849b00;  transition: color 1s;
}
#space-navigation ul.app-nav li:nth-child(12n+3):focus .title,
#space-navigation ul.app-nav li:nth-child(12n+3):hover .title {
  color: #849b00;  transition: color 250ms;
}
#space-navigation ul.app-nav li:nth-child(12n+3) .icon {
  -webkit-filter: invert(1) sepia(1) saturate(10) hue-rotate(30deg);
}
#space-navigation ul.app-nav li:nth-child(12n+4).active {
  box-shadow: inset 2px 2px 2px 0 #38671e, inset -2px -2px 7px #296906;
}
#space-navigation ul.app-nav li:nth-child(12n+4):focus,
#space-navigation ul.app-nav li:nth-child(12n+4):hover {
  border: 1px solid #349600;  transition: border 250ms;
}
#space-navigation ul.app-nav li:nth-child(12n+4) a {
  color: #3baa00;
}
#space-navigation ul.app-nav li:nth-child(12n+4).active .title {
  color: #3baa00;
}
#space-navigation ul.app-nav li:nth-child(12n+4) .title,
#space-navigation ul.app-nav li:nth-child(12n+4) .title {
  color: #3baa00;  transition: color 1s;
}
#space-navigation ul.app-nav li:nth-child(12n+4):focus .title,
#space-navigation ul.app-nav li:nth-child(12n+4):hover .title {
  color: #3baa00;  transition: color 250ms;
}
#space-navigation ul.app-nav li:nth-child(12n+4) .icon {
  -webkit-filter: invert(1) sepia(1) saturate(10) hue-rotate(60deg);
}
#space-navigation ul.app-nav li:nth-child(12n+5).active {
  box-shadow: inset 2px 2px 2px 0 #1e6729, inset -2px -2px 7px #066915;
}
#space-navigation ul.app-nav li:nth-child(12n+5):focus,
#space-navigation ul.app-nav li:nth-child(12n+5):hover {
  border: 1px solid #009616;  transition: border 250ms;
}
#space-navigation ul.app-nav li:nth-child(12n+5) a {
  color: #00aa19;
}
#space-navigation ul.app-nav li:nth-child(12n+5).active .title {
  color: #00aa1a;
}
#space-navigation ul.app-nav li:nth-child(12n+5) .title,
#space-navigation ul.app-nav li:nth-child(12n+5) .title {
  color: #00aa19;  transition: color 1s;
}
#space-navigation ul.app-nav li:nth-child(12n+5):focus .title,
#space-navigation ul.app-nav li:nth-child(12n+5):hover .title {
  color: #00aa1a;  transition: color 250ms;
}
#space-navigation ul.app-nav li:nth-child(12n+5) .icon {
  -webkit-filter: invert(1) sepia(1) saturate(10) hue-rotate(90deg);
}
#space-navigation ul.app-nav li:nth-child(12n+6).active {
  box-shadow: inset 2px 2px 2px 0 #1e674e, inset -2px -2px 7px #066946;
}
#space-navigation ul.app-nav li:nth-child(12n+6):focus,
#space-navigation ul.app-nav li:nth-child(12n+6):hover {
  border: 1px solid #009661;  transition: border 250ms;
}
#space-navigation ul.app-nav li:nth-child(12n+6) a {
  color: #00aa6f;
}
#space-navigation ul.app-nav li:nth-child(12n+6).active .title {
  color: #00aa6f;
}
#space-navigation ul.app-nav li:nth-child(12n+6) .title,
#space-navigation ul.app-nav li:nth-child(12n+6) .title {
  color: #00aa6f;  transition: color 1s;
}
#space-navigation ul.app-nav li:nth-child(12n+6):focus .title,
#space-navigation ul.app-nav li:nth-child(12n+6):hover .title {
  color: #00aa6f;  transition: color 250ms;
}
#space-navigation ul.app-nav li:nth-child(12n+6) .icon {
  -webkit-filter: invert(1) sepia(1) saturate(10) hue-rotate(120deg);
}
#space-navigation ul.app-nav li:nth-child(12n+7).active {
  box-shadow: inset 2px 2px 2px 0 #24626d, inset -2px -2px 7px #0f6372;
}
#space-navigation ul.app-nav li:nth-child(12n+7):focus,
#space-navigation ul.app-nav li:nth-child(12n+7):hover {
  border: 1px solid #007f96;  transition: border 250ms;
}
#space-navigation ul.app-nav li:nth-child(12n+7) a {
  color: #00a2bf;
}
#space-navigation ul.app-nav li:nth-child(12n+7).active .title {
  color: #00a2bf;
}
#space-navigation ul.app-nav li:nth-child(12n+7) .title,
#space-navigation ul.app-nav li:nth-child(12n+7) .title {
  color: #00a2bf;  transition: color 1s;
}
#space-navigation ul.app-nav li:nth-child(12n+7):focus .title,
#space-navigation ul.app-nav li:nth-child(12n+7):hover .title {
  color: #00a2bf;  transition: color 250ms;
}
#space-navigation ul.app-nav li:nth-child(12n+7) .icon {
  -webkit-filter: invert(1) sepia(1) saturate(10) hue-rotate(150deg);
}
#space-navigation ul.app-nav li:nth-child(12n+8).active {
  box-shadow: inset 2px 2px 2px 0 #425c8b, inset -2px -2px 7px #365999;
}
#space-navigation ul.app-nav li:nth-child(12n+8):focus,
#space-navigation ul.app-nav li:nth-child(12n+8):hover {
  border: 1px solid #2155b7;  transition: border 250ms;
}
#space-navigation ul.app-nav li:nth-child(12n+8) a {
  color: #094fd2;
}
#space-navigation ul.app-nav li:nth-child(12n+8).active .title {
  color: #0058fc;
}
#space-navigation ul.app-nav li:nth-child(12n+8) .title,
#space-navigation ul.app-nav li:nth-child(12n+8) .title {
  color: #094fd2;  transition: color 1s;
}
#space-navigation ul.app-nav li:nth-child(12n+8):focus .title,
#space-navigation ul.app-nav li:nth-child(12n+8):hover .title {
  color: #0058fc;  transition: color 250ms;
}
#space-navigation ul.app-nav li:nth-child(12n+8) .icon {
  -webkit-filter: invert(1) sepia(1) saturate(10) hue-rotate(180deg);
}
#space-navigation ul.app-nav li:nth-child(12n+9).active {
  box-shadow: inset 2px 2px 2px 0 #5c519a, inset -2px -2px 7px #5a4bae;
}
#space-navigation ul.app-nav li:nth-child(12n+9):focus,
#space-navigation ul.app-nav li:nth-child(12n+9):hover {
  border: 1px solid #553fd5;  transition: border 250ms;
}
#space-navigation ul.app-nav li:nth-child(12n+9) a {
  color: #4b2df6;
}
#space-navigation ul.app-nav li:nth-child(12n+9).active .title {
  color: #4d27ff;
}
#space-navigation ul.app-nav li:nth-child(12n+9) .title,
#space-navigation ul.app-nav li:nth-child(12n+9) .title {
  color: #4b2df6;  transition: color 1s;
}
#space-navigation ul.app-nav li:nth-child(12n+9):focus .title,
#space-navigation ul.app-nav li:nth-child(12n+9):hover .title {
  color: #4d27ff;  transition: color 250ms;
}
#space-navigation ul.app-nav li:nth-child(12n+9) .icon {
  -webkit-filter: invert(1) sepia(1) saturate(10) hue-rotate(210deg);
}
#space-navigation ul.app-nav li:nth-child(12n+10).active {
  box-shadow: inset 2px 2px 2px 0 #784891, inset -2px -2px 7px #7c3c9f;
}
#space-navigation ul.app-nav li:nth-child(12n+10):focus,
#space-navigation ul.app-nav li:nth-child(12n+10):hover {
  border: 1px solid #8827bd;  transition: border 250ms;
}
#space-navigation ul.app-nav li:nth-child(12n+10) a {
  color: #8c09d2;
}
#space-navigation ul.app-nav li:nth-child(12n+10).active .title {
  color: #a400fc;
}
#space-navigation ul.app-nav li:nth-child(12n+10) .title,
#space-navigation ul.app-nav li:nth-child(12n+10) .title {
  color: #8c09d2;  transition: color 1s;
}
#space-navigation ul.app-nav li:nth-child(12n+10):focus .title,
#space-navigation ul.app-nav li:nth-child(12n+10):hover .title {
  color: #a400fc;  transition: color 250ms;
}
#space-navigation ul.app-nav li:nth-child(12n+10) .icon {
  -webkit-filter: invert(1) sepia(1) saturate(10) hue-rotate(240deg);
}
#space-navigation ul.app-nav li:nth-child(12n+11).active {
  box-shadow: inset 2px 2px 2px 0 #883f7d, inset -2px -2px 7px #963387;
}
#space-navigation ul.app-nav li:nth-child(12n+11):focus,
#space-navigation ul.app-nav li:nth-child(12n+11):hover {
  border: 1px solid #a50f8e;  transition: border 250ms;
}
#space-navigation ul.app-nav li:nth-child(12n+11) a {
  color: #c900ab;
}
#space-navigation ul.app-nav li:nth-child(12n+11).active .title {
  color: #fc00d6;
}
#space-navigation ul.app-nav li:nth-child(12n+11) .title,
#space-navigation ul.app-nav li:nth-child(12n+11) .title {
  color: #c900ab;  transition: color 1s;
}
#space-navigation ul.app-nav li:nth-child(12n+11):focus .title,
#space-navigation ul.app-nav li:nth-child(12n+11):hover .title {
  color: #fc00d6;  transition: color 250ms;
}
#space-navigation ul.app-nav li:nth-child(12n+11) .icon {
  -webkit-filter: invert(1) sepia(1) saturate(10) hue-rotate(270deg);
}
#space-navigation ul.app-nav li:nth-child(12n+12).active {
  box-shadow: inset 2px 2px 2px 0 #8b425c, inset -2px -2px 7px #993659;
}
#space-navigation ul.app-nav li:nth-child(12n+12):focus,
#space-navigation ul.app-nav li:nth-child(12n+12):hover {
  border: 1px solid #ae184c;  transition: border 250ms;
}
#space-navigation ul.app-nav li:nth-child(12n+12) a {
  color: #c90046;
}
#space-navigation ul.app-nav li:nth-child(12n+12).active .title {
  color: #fc0058;
}
#space-navigation ul.app-nav li:nth-child(12n+12) .title,
#space-navigation ul.app-nav li:nth-child(12n+12) .title {
  color: #c90046;  transition: color 1s;
}
#space-navigation ul.app-nav li:nth-child(12n+12):focus .title,
#space-navigation ul.app-nav li:nth-child(12n+12):hover .title {
  color: #fc0058;  transition: color 250ms;
}
#space-navigation ul.app-nav li:nth-child(12n+12) .icon {
  -webkit-filter: invert(1) sepia(1) saturate(10) hue-rotate(300deg);
}
#space-navigation ul.app-nav li:nth-child(12n+13).active {
  box-shadow: inset 2px 2px 2px 0 #884a3f, inset -2px -2px 7px #964233;
}
#space-navigation ul.app-nav li:nth-child(12n+13):focus,
#space-navigation ul.app-nav li:nth-child(12n+13):hover {
  border: 1px solid #ab2b15;  transition: border 250ms;
}
#space-navigation ul.app-nav li:nth-child(12n+13) a {
  color: #c91e00;
}
#space-navigation ul.app-nav li:nth-child(12n+13).active .title {
  color: #fc2600;
}
#space-navigation ul.app-nav li:nth-child(12n+13) .title,
#space-navigation ul.app-nav li:nth-child(12n+13) .title {
  color: #c91e00;  transition: color 1s;
}
#space-navigation ul.app-nav li:nth-child(12n+13):focus .title,
#space-navigation ul.app-nav li:nth-child(12n+13):hover .title {
  color: #fc2600;  transition: color 250ms;
}
#space-navigation ul.app-nav li:nth-child(12n+13) .icon {
  -webkit-filter: invert(1) sepia(1) saturate(10) hue-rotate(330deg);
}
