        /* set begin 1 */
          #space-navigation ul.app-nav li:nth-child(1).active {
            box-shadow: inset 2px 2px 2px 0 #666, inset -2px -2px 7px #999;
            }
          #space-navigation ul.app-nav li:nth-child(1):focus,
          #space-navigation ul.app-nav li:nth-child(1):hover {
            border: 1px solid #666;
            transition: border 250ms;
            }
          #space-navigation ul.app-nav li:nth-child(1) a {
            color: #666;
            }
          #space-navigation ul.app-nav li:nth-child(1):focus .title,
          #space-navigation ul.app-nav li:nth-child(1):hover .title {
            color: #999;
            transition: color 250ms;
            }
          #space-navigation ul.app-nav li:nth-child(1) .icon {
            -webkit-filter: invert(1) grayscale(1);
            }
        /* set end */
        /* set begin 2 */
          #space-navigation ul.app-nav li:nth-child(2).active {
            box-shadow: inset 2px 2px 2px 0 #9F5103, inset -2px -2px 7px #FC8300;
            }
          #space-navigation ul.app-nav li:nth-child(2):focus,
          #space-navigation ul.app-nav li:nth-child(2):hover {
            border: 1px solid #9F5103;
            transition: border 250ms;
            }
          #space-navigation ul.app-nav li:nth-child(2) a {
            color: #9F5103;
            }
          #space-navigation ul.app-nav li:nth-child(2):focus .title,
          #space-navigation ul.app-nav li:nth-child(2):hover .title {
            color: #FC8300;
            }
          #space-navigation ul.app-nav li:nth-child(2) .icon {
            -webkit-filter: invert(1) sepia(1) saturate(10) hue-rotate(0deg);
            }
        /* set end */
        /* set begin 3 */
          #space-navigation ul.app-nav li:nth-child(3).active {
            box-shadow: inset 2px 2px 2px 0 #908E01, inset -2px -2px 7px #C6C300;
            }
          #space-navigation ul.app-nav li:nth-child(3):focus,
          #space-navigation ul.app-nav li:nth-child(3):hover {
            border: 1px solid #908E01;
            transition: border 250ms;
            }
          #space-navigation ul.app-nav li:nth-child(3) a {
            color: #908E01;
            }
          #space-navigation ul.app-nav li:nth-child(3):focus .title,
          #space-navigation ul.app-nav li:nth-child(3):hover .title {
            color: #C6C300;
            }
          #space-navigation ul.app-nav li:nth-child(3) .icon {
            -webkit-filter: invert(1) sepia(1) saturate(10) hue-rotate(30deg);
            }
        /* set end */
        /* set begin 4 */
          #space-navigation ul.app-nav li:nth-child(4).active {
            box-shadow: inset 2px 2px 2px 0 #265906, inset -2px -2px 7px #3F9609;
            }
          #space-navigation ul.app-nav li:nth-child(4):focus,
          #space-navigation ul.app-nav li:nth-child(4):hover {
            border: 1px solid #265906;
            transition: border 250ms;
            }
          #space-navigation ul.app-nav li:nth-child(4) a {
            color: #265906;
            }
          #space-navigation ul.app-nav li:nth-child(4):focus .title,
          #space-navigation ul.app-nav li:nth-child(4):hover .title {
            color: #3F9609;
            }
          #space-navigation ul.app-nav li:nth-child(4) .icon {
            -webkit-filter: invert(1) sepia(1) saturate(10) hue-rotate(60deg);
            }
        /* set end */
        /* set begin 5 */
          #space-navigation ul.app-nav li:nth-child(5).active {
            box-shadow: inset 2px 2px 2px 0 #036E17, inset -2px -2px 7px #0FBB30;
            }
          #space-navigation ul.app-nav li:nth-child(5):focus,
          #space-navigation ul.app-nav li:nth-child(5):hover {
            border: 1px solid #036E17;
            transition: border 250ms;
            }
          #space-navigation ul.app-nav li:nth-child(5) a {
            color: #036E17;
            }
          #space-navigation ul.app-nav li:nth-child(5):focus .title,
          #space-navigation ul.app-nav li:nth-child(5):hover .title {
            color: #0FBB30;
            }
          #space-navigation ul.app-nav li:nth-child(5) .icon {
            -webkit-filter: invert(1) sepia(1) saturate(10) hue-rotate(90deg);
            }
        /* set end */
        /* set begin 6 */
          #space-navigation ul.app-nav li:nth-child(6).active {
            box-shadow: inset 2px 2px 2px 0 #038257, inset -2px -2px 7px #06C585;
            }
          #space-navigation ul.app-nav li:nth-child(6):focus,
          #space-navigation ul.app-nav li:nth-child(6):hover {
            border: 1px solid #038257;
            transition: border 250ms;
            }
          #space-navigation ul.app-nav li:nth-child(6) a {
            color: #038257;
            }
          #space-navigation ul.app-nav li:nth-child(6):focus .title,
          #space-navigation ul.app-nav li:nth-child(6):hover .title {
            color: #06C585;
            }
          #space-navigation ul.app-nav li:nth-child(6) .icon {
            -webkit-filter: invert(1) sepia(1) saturate(10) hue-rotate(120deg);
            }
        /* set end */
        /* set begin 7 */
          #space-navigation ul.app-nav li:nth-child(7).active {
            box-shadow: inset 2px 2px 2px 0 #046074, inset -2px -2px 7px #0E97B5;
            }
          #space-navigation ul.app-nav li:nth-child(7):focus,
          #space-navigation ul.app-nav li:nth-child(7):hover {
            border: 1px solid #046074;
            transition: border 250ms;
            }
          #space-navigation ul.app-nav li:nth-child(7) a {
            color: #046074;
            }
          #space-navigation ul.app-nav li:nth-child(7):focus .title,
          #space-navigation ul.app-nav li:nth-child(7):hover .title {
            color: #0E97B5;
            }
          #space-navigation ul.app-nav li:nth-child(7) .icon {
            -webkit-filter: invert(1) sepia(1) saturate(10) hue-rotate(150deg);
            }
        /* set end */
        /* set begin 8 */
          #space-navigation ul.app-nav li:nth-child(8).active {
            box-shadow: inset 2px 2px 2px 0 #1A4B6F, inset -2px -2px 7px #2483C8;
            }
          #space-navigation ul.app-nav li:nth-child(8):focus,
          #space-navigation ul.app-nav li:nth-child(8):hover {
            border: 1px solid #1A4B6F;
            transition: border 250ms;
            }
          #space-navigation ul.app-nav li:nth-child(8) a {
            color: #1A4B6F;
            }
          #space-navigation ul.app-nav li:nth-child(8):focus .title,
          #space-navigation ul.app-nav li:nth-child(8):hover .title {
            color: #2483C8;
            }
          #space-navigation ul.app-nav li:nth-child(8) .icon {
            -webkit-filter: invert(1) sepia(1) saturate(10) hue-rotate(180deg);
            }
        /* set end */
        /* set begin 9 */
          #space-navigation ul.app-nav li:nth-child(9).active {
            box-shadow: inset 2px 2px 2px 0 #5A5FB0, inset -2px -2px 7px #8687FB;
            }
          #space-navigation ul.app-nav li:nth-child(9):focus,
          #space-navigation ul.app-nav li:nth-child(9):hover {
            border: 1px solid #5A5FB0;
            transition: border 250ms;
            }
          #space-navigation ul.app-nav li:nth-child(9) a {
            color: #5A5FB0;
            }
          #space-navigation ul.app-nav li:nth-child(9):focus .title,
          #space-navigation ul.app-nav li:nth-child(9):hover .title {
            color: #8687FB;
            }
          #space-navigation ul.app-nav li:nth-child(9) .icon {
            -webkit-filter: invert(1) sepia(1) saturate(10) hue-rotate(210deg);
            }
        /* set end */
        /* set begin 10 */
          #space-navigation ul.app-nav li:nth-child(10).active {
            box-shadow: inset 2px 2px 2px 0 #854393, inset -2px -2px 7px #CD65ED;
            }
          #space-navigation ul.app-nav li:nth-child(10):focus,
          #space-navigation ul.app-nav li:nth-child(10):hover {
            border: 1px solid #854393;
            transition: border 250ms;
            }
          #space-navigation ul.app-nav li:nth-child(10) a {
            color: #854393;
            }
          #space-navigation ul.app-nav li:nth-child(10):focus .title,
          #space-navigation ul.app-nav li:nth-child(10):hover .title {
            color: #CD65ED;
            }
          #space-navigation ul.app-nav li:nth-child(10) .icon {
            -webkit-filter: invert(1) sepia(1) saturate(10) hue-rotate(240deg);
            }
        /* set end */
        /* set begin 11 */
          #space-navigation ul.app-nav li:nth-child(11).active {
            box-shadow: inset 2px 2px 2px 0 #612961, inset -2px -2px 7px #F056F0;
            }
          #space-navigation ul.app-nav li:nth-child(11):focus,
          #space-navigation ul.app-nav li:nth-child(11):hover {
            border: 1px solid #612961;
            transition: border 250ms;
            }
          #space-navigation ul.app-nav li:nth-child(11) a {
            color: #612961;
            }
          #space-navigation ul.app-nav li:nth-child(11):focus .title,
          #space-navigation ul.app-nav li:nth-child(11):hover .title {
            color: #F056F0;
            }
          #space-navigation ul.app-nav li:nth-child(11) .icon {
            -webkit-filter: invert(1) sepia(1) saturate(10) hue-rotate(270deg);
            }
        /* set end */
        /* set begin 12 */
          #space-navigation ul.app-nav li:nth-child(12).active {
            box-shadow: inset 2px 2px 2px 0 #76314E, inset -2px -2px 7px #F95BA2;
            }
          #space-navigation ul.app-nav li:nth-child(12):focus,
          #space-navigation ul.app-nav li:nth-child(12):hover {
            border: 1px solid #76314E;
            transition: border 250ms;
            }
          #space-navigation ul.app-nav li:nth-child(12) a {
            color: #76314E;
            }
          #space-navigation ul.app-nav li:nth-child(12):focus .title,
          #space-navigation ul.app-nav li:nth-child(12):hover .title {
            color: #F95BA2;
            }
          #space-navigation ul.app-nav li:nth-child(12) .icon {
            -webkit-filter: invert(1) sepia(1) saturate(10) hue-rotate(300deg);
            }
        /* set end */
        /* set begin 13 */
          #space-navigation ul.app-nav li:nth-child(13).active {
            box-shadow: inset 2px 2px 2px 0 #8D402B, inset -2px -2px 7px #FC6A48;
            }
          #space-navigation ul.app-nav li:nth-child(13):focus,
          #space-navigation ul.app-nav li:nth-child(13):hover {
            border: 1px solid #8D402B;
            transition: border 250ms;
            }
          #space-navigation ul.app-nav li:nth-child(13) a {
            color: #8D402B;
            }
          #space-navigation ul.app-nav li:nth-child(13):focus .title,
          #space-navigation ul.app-nav li:nth-child(13):hover .title {
            color: #FC6A48;
            }
          #space-navigation ul.app-nav li:nth-child(13) .icon {
            -webkit-filter: invert(1) sepia(1) saturate(10) hue-rotate(330deg);
            }
        /* set end */
        /* set begin 14 */
          #space-navigation ul.app-nav li:nth-child(14).active {
            box-shadow: inset 2px 2px 2px 0 #805704, inset -2px -2px 7px #D29400;
            }
          #space-navigation ul.app-nav li:nth-child(14):focus,
          #space-navigation ul.app-nav li:nth-child(14):hover {
            border: 1px solid #805704;
            transition: border 250ms;
            }
          #space-navigation ul.app-nav li:nth-child(14) a {
            color: #805704;
            }
          #space-navigation ul.app-nav li:nth-child(14):focus .title,
          #space-navigation ul.app-nav li:nth-child(14):hover .title {
            color: #D29400;
            }
          #space-navigation ul.app-nav li:nth-child(14) .icon {
            -webkit-filter: invert(1) sepia(1) saturate(10) hue-rotate(15deg);
            }
        /* set end */

