<a id="tryit" href="#">Try It</a>
<br>
<a id="tryit2" href="#">Try It2</a>
<hr>
<svg id="svg1" width="50%" height="100%" viewBox="0.00 0.00 94.00 44.00" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<g id="graph0" class="graph" transform="scale(1 1) rotate(0) translate(4 40)">
    <title>G</title>
    <!-- XXXXX -->
    <g id="node1" class="node">
        <title>XXXXX</title>
        <g id="a_node1">
            <a xlink:href="http://google.com" xlink:title="XXXXX">
                <ellipse fill="none" stroke="red" cx="43" cy="-18" rx="43.357" ry="18"></ellipse>
                <text text-anchor="middle" x="43" y="-13.8"
                    font-family="Helvetica,sans-Serif" font-size="14.00" fill="grey">XXXXX</text>
            </a>
            <foreignobject width="100%" height="100%" x="0" y="-40">
                <div style="color:#00ffff;">Find me</div>
            </foreignobject>
        </g>
    </g>
</g>
</svg>

<svg id="svg2" width="50%" height="100%" xmlns="http://www.w3.org/2000/svg"  xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0.00 0.00 94.00 44.00">
<g id="graph0" class="graph" transform="scale(1 1) rotate(0) translate(4 40)">
    <title>G</title>
    <!-- XXXXX -->
    <g id="node1" class="node">
        <title>XXXXX</title>
        <g id="a_node1">
            <a xlink:href="http://google.com" xlink:title="XXXXX">
                <ellipse fill="none" stroke="red" cx="43" cy="-18" rx="43.357" ry="18"></ellipse>
                <text text-anchor="middle" x="43" y="-13.8"
                    font-family="Helvetica,sans-Serif" font-size="14.00" fill="grey">XXXXX</text>
            </a>
        </g>
    </g>
</g>
</svg>












